.about__img {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #fff;
	display: inline-block;
}

.about__img-item {
	display: block;
	max-width: 100%;
	min-height: 100%;
}

.about__left, .about__right {
	float: left;
}

.about__left {
	width: 320px;
	text-align: center;
}

.about__right {
	width: 380px;
}

.about__text {
	height: 300px;
	overflow: auto;
	margin-bottom: 40px;
}

.text-block {
	font-weight: 300;
}

.text-block p {
	margin-bottom: 15px;
	margin-top: 0;
}

.about__download {
	text-align: right;
}