.header {
	background: #fff;
	box-shadow: 0 1px 3px 0 rgba(00, 00, 00, .2);
	padding-bottom: 9px;
	margin-bottom: 25px;
}

.header__left, .header__right {
	float: left;
	width: 50%;
}

.header__left {
	padding-top: 9px;
}

.header__right {
	text-align: right;
	padding-top: 30px;
}

.user__foto {
	border: 1px solid #bebebe;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}

.mini__avatar-pic {
	display: block;
}

.user__name {
	display: inline-block;
	vertical-align: middle;
	margin-left: 19px;
	max-width: 235px;
}

.contacts {
	font-weight: 600;
	color: #33c1e3;
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 1px dashed #33c1e3;
}