.nav__link {
	display: block;
	padding: 10px 0;
	text-align: right;
	padding: 10px 25px 10px 0;
	text-decoration: none;
	color: #414141;
	border-right: 6px solid transparent;
}

.nav__link:hover {
	color: #33c1e3;
}

.nav__link-icon, .nav__link-text {
	display: inline-block;
	vertical-align: middle;
}

.nav__link-text {
	margin-left: 13px;
}

.nav__item_activ .nav__link {
	border-color: #33c1e3;
	font-weight: 600;
	color: #33c1e3
}